@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
* {
    color: white;
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;
    font-size: 20px;
}

body {
    background: url(gambar/chalkboard.jpg) no-repeat;
}

.identitas {
    margin-top: 50px;
    text-align: center;
    
}
.identitas img {
    width: 190px;
    height: 300px;
    border-radius: 25px;
}

.table1 {
    text-align: left;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.table1 td {
    padding: 10px;
    vertical-align: top;
}

.table2 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-collapse: collapse;
    border: 1px solid white;
    width: 50%;
}

.table2 td {
    padding: 8px;
    vertical-align: top;
    border: 1px solid white;
}

.table2 th {
    background-color: #ffc61b;
    color: black;
    text-align: center;
    border: 1px solid white;
}

.social {
    text-align: center;
    top: 500px;
    left: 0;
    width: 100%;
}

.social img {
    position: relative;
    display: inline;
    margin-right: 0 auto;
    margin-left: 0 auto;
}

.icon img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.icon img:hover{
    opacity: 0.5;
}


